<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <!-- html page : hello world! <br>
    타이틀 : {{title}} 
    아이디 : {{id}}
    패스워드 : {{pw}}

    아이디랑 패스워드 안보이는거 일부러 안되게 한거임-->

    <!-- <form method="POST" id="" action="http://localhost:3000">
        이름 : <input type="text" name="name"><br>
        아이디 : <input type="text" name="user_id"><br>
        패스워드 : <input type="password" name="user_pw"><br>
        <input type="submit" value="버튼">  
        <button>과 동일하지만 이걸 누르면 이 form 이 실행된다-->
    <!-- </form> -->
    Hi Hello! ickgyun.
    <a href="/list">게시판 가기</a>

    <!--폼태그 만들어서 
        localhost:3000/join
        userid와
        userpw와
        username을 넘겨주기까지만.
        console.log() 찍어보기-->

</body>

</html>